body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
section {
    margin: 0% 100px;
}
/* Header Section */

nav {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav h2 {
    margin-top: 0%;
    margin-left: 100px;
}

#manue ul {
    list-style: none;
    display: flex;
    margin-top: 7px;
    position: absolute;
    right: 100px;
}
#manue>ul>li {
    margin-right: 50px;
}
#manue>ul>li>a {
    text-decoration: none;
    color: black;
}

/* Section Cover */
#cover {
    display: flex;
}
.half {
    width: 50%;
}
.half img {
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
    /* width: 100%; */
}
.half h1 {
    margin: 0%;
    font-size: 50px;
}
#start-marg {
    margin-top: 150px;
}
.half p {
    padding-right: 100px;
    margin-bottom: 50px;
}
.btn-preebook {
    text-decoration: none;
    color: white;
    background-color: #32baff;
    padding: 10px 15px;
    border-radius: 20px;
}
.btn-preebook:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
.hover-jak:hover {
    transform: scale(1.1);
    transition: 2s;
}

/* Section two brand */
#hr-top {
    margin-top: 100px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#brand-logo {
    display: flex;
}
.brand {
    margin-right: 20px;
    width: 14.28%;
}
#brand-logo img {
    width: 100%;
}
/* Section Three Product */
#headline {
    text-align: center;
    margin-top: 100px;
}
.product {
    display: flex;
}
.division-third {
    width: 33.33%;
    margin: 10px 15px;
}
.product-img {
    width: 100%;
}
/* star rating  */
.checked {
    color: orange;
  }
#see-more {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #0670ac;
}
#see-more:hover {
    color: black;
}

/* Section Fure "Our Products" */
#sec-foure {
    margin: 0% 50px;
}

#our-products {
    display: flex;
}
.half-our {
    margin-top: 50px;
}
.half-our {
    width: 50%;
}
.half-our img {
    width: 100%;
}
#our-pro {
    padding-top: 120px;
    padding-left: 50px;
}
#btn-buy {
    text-decoration: none;
    color: white;
    background-color: #32baff;
    padding: 10px 15px;
    border-radius: 20px;
}
#btn-buy:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
/* Footer Section */
footer {
    text-align: center;
    background-color: #0670ac;
    color: white;
    padding: 20px 0px;
}